.global_login_input {
    @apply mt-5 border-2 rounded-md px-2 w-full
                   border-gray-200
                   py-1 outline-none
                   ring-offset-1
                   ring-black
                   placeholder:text-xs
                   focus:ring-2
                   duration-200
                   focus:border-white;
  }
  .global_input_error_msg{
    @apply text-red-500 text-[12px]
  }

  .global_common_buttom {
    @apply m-4 p-2 bg-pink-700 text-white 
rounded-md hover:bg-pink-600 duration-300;
  }